#####################################
# JEC GlassCat Core Project .gitignore
# Please maintain alphabetical order!
#####################################

#####################################
# Utilities
#####################################

# Ignore TypeScript temp file
*tscommand*.*

# Ignore TypeScript temp folder
types/temp

#####################################
# VSCE
#####################################

# Ignore VSCE folder
.vscode

#####################################
# TSC
#####################################

# Ignore TSC cache folder 
.tscache

#####################################
# Documentation
#####################################

# Ignore docs folder
docs

#####################################
# node_modules
#####################################

# Ignore 'node_modules' folder
node_modules

#####################################
# src
#####################################

# Ignore JavaScript files in src folder
src/**/*.js

#####################################
# test
#####################################

# Ignore JavaScript files in test folder
test/**/*.js

#####################################
# utils
#####################################

# Ignore JavaScript files in utils folder
utils/**/*.js


#####################################
# temp
#####################################

lib/
src/com/onsoft/glasscat/context/files
src/com/onsoft/glasscat/context/validators
src/com/onsoft/glasscat/core
src/com/onsoft/glasscat/domains
src/com/onsoft/glasscat/jslets/utils
src/com/onsoft/glasscat/jslets/EjpJsletContext.ts
src/com/onsoft/glasscat/security/context
src/com/onsoft/glasscat/security/realms/utils
src/com/onsoft/glasscat/security/session/managers
src/com/onsoft/glasscat/security/session/utils/SessionUtil.ts
src/com/onsoft/glasscat/services/http/proxy
src/com/onsoft/glasscat/services/http/utils
src/com/onsoft/glasscat/util/contextroot
